distribution_code_name: "fcitx-rime"
distribution_name: Rime
distribution_version: 5.1.9
install_time: "Thu Mar 21 08:19:41 2024"
installation_id: "jian@jian-asus-desktop"
rime_version: 1.11.2
sync_dir: "/home/jian/Dropbox/RimeSync"
update_time: "Fri Oct 25 07:48:58 2024"